body {
    background: url("https://gblobscdn.gitbook.com/assets%2F-LiR2ZMOIaxmhLlPQhLa%2F-LsKO0ePPOrb2KQEd7Gq%2F-LsKOnZbYN8Zs5H89ODH%2Fpattern.jpg?alt=media&token=27a7b746-8252-45a5-8df2-b1b68fb8ceae");
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}

/* section h1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 25px
}

section {
    width: 70%;
    background: white;
    margin: auto;
    margin-top: 100px;
}

#article-list div {
    text-align: justify;
    margin: 10;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: solid 1px black;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    height: 50px;
}

h5 {
    padding-top: 15px;
}

img {
    float: left;
} */

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

section {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    position: relative;
    top: 70px;
    padding: 20px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

article {
    border-bottom: 1px solid black;
}

h5 {
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}